.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-Nav {
  width: 1.4541015625em;
}

.icon-stars {
  width: 5.7998046875em;
}

.icon-Arrow-2-Stroke {
  width: 2em;
}
