<footer>
  <div class="container">
    <div class="footer-section" id="footerr">
      <div class="info">
        <div class="part-one">
          <div class="firm-logo">
            <img src="./img/icomoon/PNG/logo.png" alt="Focus.Frame logosu" />
          </div>

          <div class="adres">
            <a class="telefon-numarasi" href="tel:+380665438912"
              >+38 066 543 8912</a
            >
            <span>1678 S. Pioneer Road Salt Lake City UT 84104</span>
          </div>
        </div>

        <div class="part-two">
          <div class="social-media-part">
            <ul>
              <li>
                <a
                  href="https://www.instagram.com/goit.turkiye/"
                  target="_blank"
                >
                  INSTAGRAM
                </a>
              </li>

              <li>
                <a
                  href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
                  target="_blank"
                >
                  FACEBOOK
                </a>
              </li>

              <li>
                <a href="https://m.youtube.com/@GoITTurkey" target="_blank">
                  YOUTUBE
                </a>
              </li>
            </ul>
          </div>

          <div class="page-sections-part">
            <ul>
              <li><a href="#about_us">ABOUT US</a></li>
              <li><a href="#our_courses">OUR COURSES</a></li>
              <li><a href="#our_mentors">OUR MENTORS</a></li>
              <li><a href="#reviews">REVIEWS</a></li>
              <li><a href="#footerr">CONTACTS</a></li>
            </ul>
          </div>
        </div>

        <div class="part-three">
          <form class="subscription">
            <input
              class="subscription-input"
              type="email"
              name="email"
              placeholder="Enter your email"
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              required
            />

            <button class="subscription-button" type="submit">Go</button>
          </form>
        </div>
      </div>

      <div class="part-four">
        <div class="policy">
          Privacy Policy <br />
          Public Offering Agreement
        </div>

        <div class="rights">
          <div class="line">
            2024 Focus Frame <br />
            © All rights reserved
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
