<div class="container" id="our_mentors">
  <div class="our-main-box">
    <h3 class="our-header">Our <span class="mentor-header">Mentors</span></h3>

    <div class="our-cover">
      <div class="our-border">
        <div class="title-box-our">
          <img
            src="./img/elia-smith.jpg"
            alt="emilia-smith"
            class="our-picture"
          />
          <div class="our-credential">
            <h5 class="name-our">Emilia Smith</h5>
            <h6 class="title-our">1.5 years of experience</h6>
          </div>
        </div>
      </div>
      <div class="our-border">
        <div class="title-box-our">
          <img
            src="./img/alex-lebedev.jpg"
            alt="alex-lebedev"
            class="our-picture"
          />
          <div class="our-credential">
            <h5 class="name-our">Alex Lebedev</h5>
            <h6 class="title-our">3.5 years of experience</h6>
          </div>
        </div>
      </div>
      <div class="our-border">
        <div class="title-box-our">
          <img
            src="./img/mia-dubrovska.jpg"
            alt="mia-dubrovska"
            class="our-picture"
          />
          <div class="our-credential">
            <h5 class="name-our">Mia Dubrovska</h5>
            <h6 class="title-our">2.0 years of experience</h6>
          </div>
        </div>
      </div>
      <div class="our-border">
        <div class="title-box-our">
          <img
            src="./img/eliot-kovalev.jpg"
            alt="eliot-kovalev"
            class="our-picture"
          />
          <div class="our-credential">
            <h5 class="name-our">Eliot Kovalev</h5>
            <h6 class="title-our">4.0 years of experience</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
