<div class="container" id="reviews">
  <div class="review-main-box">
    <h3 class="reviews-header">Reviews</h3>

    <div class="review-cover">
      <div class="review-border">
        <div class="title-box-review">
          <img
            src="./img/abraham-baker.jpg"
            alt="abraham-baker"
            class="reviewer-picture"
          />
          <div class="review-credential">
            <h5 class="name-review">Abraham Baker</h5>
            <h6 class="title-review">Student</h6>
          </div>
          <svg class="review-star">
            <use xlink:href="./img/icomoon/symbol-defs.svg#icon-stars"></use>
          </svg>
        </div>
        <!-- id="icon-filled-star-icon"-->
        <!--   <svg class="star-icon">
                    <use xlink:href="../img/icons.svg/#icon-filled-star-icon"></use>
                  </svg>
                  -->
        <p class="review-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </div>

      <div class="review-border amanda-border">
        <div class="title-box-review">
          <img
            src="./img/amanda-lowery.jpg"
            alt="amanda-lowery"
            class="reviewer-picture"
          />
          <div class="review-credential">
            <h5 class="name-review">Amanda Lowery</h5>
            <h6 class="title-review">Student</h6>
          </div>
          <svg class="review-star">
            <use xlink:href="./img/icomoon/symbol-defs.svg#icon-stars"></use>
          </svg>
        </div>
        <!-- id="icon-filled-star-icon"-->
        <!--   <svg class="star-icon">
                    <use xlink:href="../img/icons.svg/#icon-filled-star-icon"></use>
                  </svg>
                  -->
        <p class="review-text">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </div>
    </div>
  </div>
</div>
