<div class="container wrapper" id="sign_up">
  <div class="signup">
    <h3>Sign <strong style="color: var(--brown)">Up</strong></h3>
    <p class="signup-description">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <form class="signup-form">
    
        <input
          type="text"
          placeholder="Enter your name"
          class="signup-input name-input"
          required
          pattern="[A-Za-z\s]+"
          title="Only letters and spaces are allowed"
        />
        <input
          type="email"
          placeholder="Enter your email"
          class="signup-input email-input"
          required
        />
        <textarea
          placeholder="Message"
          class="signup-textarea"
          required
        ></textarea>
        <button type="submit" class="signup-button">SEND</button>

    </form>
    <p class="privacy-text">
      By clicking on “Send” button, you agree to our
      <a href="#">Privacy Policy</a>, and allow Promodo to use this information
      for marketing purposes.
    </p>
  </div>
  <div class="signup-images">
    <div class="img1-oval">
      <img src="img/sign-up-img1.jpg" alt="Lens" />
    </div>
    <div class="img2-oval">
      <img src="img/signuo2.png" alt="Camera" />
    </div>
  </div>
</div>
