:root {
  --black: #121212;
  --dark-grey: #1d1d1d;
  --white: #fff;
  --brown: #bea69e;
  --main-gradient: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  --font-family: 'DM Sans', sans-serif;
}
body {
  background-color: var(--black);
}
h1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: var(--white);
}
h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--brown);
}
h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.04em;
  color: var(--white);
}
h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: var(--white);
}
h5 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: var(--white);
}
p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--white);
}
