:root {
  --white: white;
  --hexadecimal: #1d1d1d;
  --brown: #bea69e;
  --black: black;
  --line-color: rgba(255, 255, 255, 0.2);
  --font: 'DM Sans', sans-serif;
}
body {
  font-family: var(--font);
  color: var(--white);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/* Header Stilleri */

.nav {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 0 10px;
  border-radius: 12px;
  border: 1px solid var(--line-color);
  z-index: 1;
}
.logo img {
  height: 11px;
}
.nav-links,
.main-button {
  display: none;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.camera-icon-link {
  background-color: var(--hexadecimal);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(190, 166, 158, 0.5);
  transition: all 0.5s ease-in-out;
}

.camera-icon-link:hover {
  color: rgba(190, 166, 158, 1);
}
.icon-camera {
  width: 20px;
  height: 20px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 32px;
  height: 22px;
}
.hamburger-menu .icon-Nav {
  width: 100%;
  height: 100%;
  stroke: var(--white);
}

.off-canvas-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 218px;
  height: 812px;
  background-color: var(--brown);
  z-index: 1000;
  transition: right 0.4s ease-in-out;
  display: flex;
  flex-direction: column;

  color: var(--hexadecimal);
  overflow: hidden;
}

.off-canvas-menu:target {
  right: 0;
}

.close-icon {
  font-size: 45px;
  margin-left: 180px;
  margin-bottom: 30px;
  cursor: pointer;
}

.off-canvas-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 20px;
}

.off-canvas-menu ul a {
  display: block;
  padding: 10px 0;
}
.off-canvas-menu ul li a:hover {
  font-weight: bold;
}

.off-canvas-image {
  width: 600px;

  margin-top: 175px;
}

/* Tablet Stilleri */
@media (min-width: 768px) {
  .wrap {
    max-width: 768px;
  }
  .header {
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
  }
  .nav {
    height: 60px;
    width: 530px;
  }
  .logo img {
    height: 16px;
  }
  .nav-right {
    gap: 40px;
  }
.hamburger-menu{
height: 28px;
}
  .hamburger-menu .icon-Nav {
    width: 100px;
    left: 170px;
    position: relative;
  }

  .main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: #121212;
    border: none;
    border-radius: 12px;
    padding: 16px 58px;
    width: 186px;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    left: 220px;

    height: 60px;
    top: 0px;
  }
  .main-button:hover {
    background-color: var(--hexadecimal);
    color: var(--brown);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .camera-icon-link {
    display: none;
  }
  .off-canvas-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 480px;
    height: 1160px;
    background-color: var(--brown);
    z-index: 1000;
    transition: right 0.4s ease-in-out;
    display: flex;
    flex-direction: column;

    color: var(--hexadecimal);
    overflow: hidden;
  }
  .close-icon {
    margin-left: 400px;
    font-size: 60px;
  }
  .off-canvas-image {
    width: 476px;
    height: auto;

    margin-top: 50px;
  }
}

/* Masaüstü Stilleri */
@media (min-width: 1280px) {
  .wrap {
    max-width: 1280px;
  }
  .header {
    width: 1080px;
    padding-top: 20px;
  }
  .nav {
    width: 810px;
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 0 5px;
    gap: 0;
    position: relative;
  }

  .logo {
    margin-left: 20px;
  }
  .nav-links {
    position: absolute;
    left: 250px;
    display: flex;
    gap: 30px;
    font-size: 14px;
    text-transform: uppercase;
  }

  .nav-links li a:hover {
    color: var(--brown);
  }
  .nav-right {
    gap: 40px;
  }
  .hamburger-menu {
    display: none;
  }
  .main-button {
    position: absolute;
    height: 60px;
    width: 238px;
    font-size: 18px;
    top: 0px;
    left: 845px;
  }
}
